:root {
   --cyan-color: #00FFD1;
   --blue-color: #31C6D4;
   --yellow-color: #FFFF00;
   --red-color: #FF1E1E;
   --yellowDark-color: #FFC400;
   --purple-color: #9424E5;
   --bluedark-color: #4040aa;
   --green-color: #016B08;
   --rosa-color: #c43787;
   --onrange-color: #FF4722;
   --darkOrange-color: #c56515;
}