.main-header {
   border-bottom: 2px solid yellow;
   width: 100%;
   height: 15%;
   position: relative;
   
   

   &__logo-container {
      float: left;
      padding: 1em;
      width: 200px;
      &__img-logo {
         width: 80%;
      }
      @media (min-width: 320px){
        
      }
      @media (max-width: 768px){
         float: initial;
         margin: 0 auto;
      }

   }


   &__search-form-container {
      margin-left: 5px;
      display:inline-block;
      width: 60%;

      &__input-container {
         margin-top: 10px;
         height: 50px;
         position: relative;

         &__input-search {
            padding-left: 20px;
            margin-top: 10px;
            width: 90%;
            height: 40px;
            
            &:focus {
               outline: none;
               border: var(--rosa-color) 2px solid;
               box-shadow: 0px 0px 5px  #4d4d4d;
            }
            
         }

         &__submit {
            cursor: pointer;
            position: absolute;
            top: 1.3rem;
            right: 6rem;
            transform: scale(1.5);
            color: rgb(114, 114, 114);

            &:hover {
               color: var(--cyan-color);
            }
            @media (max-width: 400px) {
               right: 30px;
            }
         }
      }

      
      
      @media (min-width: 320px){
         padding: 1em;
      }

      @media (max-width: 768px){
         display: inline-block;
         width: 60%;
      }
   }

      

   &__cart-button-container {
      position: absolute;
      display: inline-block;
      right: 5rem;
      top: 10rem;
      width: 3rem;
      height: 3rem;
      margin-right: 0;

      &__cart-icon {
         margin-left: .8rem;
         transform: scale(2);
         cursor: pointer;
         
         &:hover {
            color: #4d4d4d;
         }
      }

      @media (max-width: 320px){
         margin-left: .2em;
         transform: translateY(-19px);
         margin-right: 0;
         &__cart-icon {
            padding: 0;
            margin: 0;
            margin: 1rem 1rem;
         }
      }
      @media (max-width: 769px){
         margin-top: 30px;
      }
      @media (min-width: 768px){
         position: absolute;
         right: 2rem;
         top: 3rem;
         
      }
   }

   &__hamburger-button-container {
      position: absolute;
      right: .1rem;
      top: 9rem;
      width: 50px;
      display: inline-block;
      margin-left: 3em;
      

      @media (min-width: 550px){
         display: none;
      }
      @media (max-width: 550px){
         display: block;
         margin-top: 30px;
         margin-left: 2rem;
      }
   }


}
#nav {
   display: block;
}