
.card {
   
   
   width: 10em;
   height: 10em;
   border-radius: 50% 50% 30% 50%;
   border: 1px white solid;
   box-shadow: 
      1px 3px 5px rgba(0,0,0, .2), 0 0 8px rgba(0,0,0, .05);
   transition:  all .2s;
   cursor: pointer;

   
   & > article  {
      margin:auto auto;
      margin-top: 4em;
      border-radius: 50%;
   }
   

   & > article > .card__content {
      
      
      border-radius:  inherit;
      text-align: center;
   }


&__article {
   display: flex;
   flex-direction: column;

   @media (min-width: 320px){
      flex-direction: row;
   }
   @media (min-width: 500px){
      flex-direction: column;
   }
}

&__image-container {
   background: #303030;
   height: 10em;
   
   @media (min-width: 320px){
      width: 10em;
   }
   @media (min-width: 500px){
      width: 100%;
   }
}

&__image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
}
.enlace {

   width: 10em;
   height: 10em;
   border-radius: 50% 50% 30% 50%;
   border: 1px white solid;
   box-shadow:
      1px 3px 5px rgba(0, 0, 0, .2), 0 0 8px rgba(0, 0, 0, .05);
   transition: all .2s;
   cursor: pointer;
   z-index: 100000;
   text-decoration: none;
   color: white;

   &:nth-child(5n+1){
      background-color: var(--purple-color);
      
   }
   &:nth-child(5n+2){
      background-color: var(--green-color);
      &:hover {
         transform: scale(1.03);
         transform-origin: bottom;
         background-color: #0f5b14;
         
      }
   }
   &:nth-child(5n+3){
      background-color: var(--yellowDark-color);
      &:hover {
         transform: scale(1.03);
         transform-origin: bottom;
         background-color: #d2a510;
         
      }
   }
   &:nth-child(5n+1){
      background-color: var(--rosa-color);
      &:hover {
         transform: scale(1.03);
         transform-origin: bottom;
         background-color: #a22d70;
         
      }
   }
   &:nth-child(5n+4){
      background-color: var( --blue-color);
      &:hover {
         transform: scale(1.03);
         transform-origin: bottom;
         background-color: #2dabb7;
         
      }
   }
   &:nth-child(5n+5){
      background-color: rgb(254, 50, 50);
      &:hover {
         transform: scale(1.03);
         transform-origin: bottom;
         background-color: rgb(206, 43, 43);
         
      }
   }

}
