.the-new {
   & h3 {
      font-size: 1.2rem;
   }
   & p {
      font-size: 1rem;
      margin-bottom: 10px;
   }
   & .formDelete {
      display: none;
      & button {
         background-color: red;
         padding: 5px;
         border-radius: 5px;
         border: none;
         color: white;
         margin-top: -10px;
      }
   }
   background-color: white;
   margin-top: 1em;
   text-align: left;
   padding: 2em;
   font-size: 1.3rem;
   

   &__cards-container {
      & :hover .formDelete{
      
         display: block;
         
      }
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      justify-content: space-around;
      position: relative;

      & article p:first-child {
         position: absolute;
         font-size: .5em;
         padding: .2em;
         margin-top: -1em;
         display: inline-block;
         background-color: orangered;
         color: white;

      }
      & article p:nth-child(2) {
         font-size: .7em;
         margin-top: 1em;
         padding-top: 1em;
         display: block;
         & span {
            display: block;
            font-size: 1em;
            margin-top: 1em;
            text-align: right;
            font-weight: bold;
         }

      }

      &__card {
         width: 9em;
         cursor: pointer;

         &:hover div:first-child{
            display: block;
            position: absolute;
            right: 0;
            &:hover {
               background-color: #117777;
            }
         }

         &__addCart { 
            display: none;           
            background-color: #187bbd;
            width: 50px;
            height: 50px;
            color: #fff;
            font-size: 3.2rem;
            border-radius: 50%;
            position: relative;
            & .formAdd  {
               position: absolute;
               left: -px;
               top: -17px;
               & .buttonAdd {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  cursor: pointer;
                  background-color: #187bbd;
                  border: 2px solid white;
                  color: white;
               }
            }
         }
         &:hover {
            transition: all 450ms;
            transform: scale(1.05);
         }
         

         &__img-container {
            width: 9em;
            & img {
               width: 100%;
            }
         }
      }
   }
}