
   <main class="main" id="main">
      <div class="form-container form-container--block">
         <h2 class="form-container__title">Sobre mí</h2>
        
         <div class="container-about">
            <p class="form-container__text" style="font-size: 1.8rem;">
            Mi nombre es Breyner Esmith Ustariz Hoyos soy estudiante de la ruta de desarrollo web Full de EDUCACION IT.
            Este es mi primer e-commerce, a futuro espero mejorar ampliamente en mis conocimientos relacionados con
            la programación y el diseño web, ya que todavía soy bastante principiante.
         </p>
         <div class="container-photo">
            <img src="img/Breyner.png" alt="foto breyner" style="border-radius: 50%;">
         </div>
         </div>
     </div>
   </main> 

