.main__ofertas {
   width: 100%;
   background-size: cover;
   text-align: center;
   padding: 1em;

   & > p:nth-child(1) {
      color: #FFC400;
      font-size: 2.5rem;
   }
   & > p:nth-child(2) {
      color: #fff;
      font-size: 2.5rem;
   }
   &__button {
      background-color: blue;
      padding: .5em;
      border-radius: 15px;
      color: white;
      border: 1px solid white;
      cursor: pointer;
      margin-top: .5em;
   }
}
.container-containercars {
   width: 100%;
   display: block;
   margin: 0 auto;
}
.cards-container {
   padding: 1em;
   display: grid;
   grid-auto-rows: 7em;
   grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
   gap: 10px;
   
   align-content: center;
   align-items: center;
   align-self: center;
   
   
}