<div class="cart" id="productCart">
   <h1>seccion carrito de compras{{name}}</h1>
</div>
<style>
   .cart {
      width: 100%;
      height: 200px;
      background-color: rgb(196, 141, 247);
      padding: 2em;
      z-index: 99900;

   }
</style>