<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://kit.fontawesome.com/b1396f0f59.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="css/main.css">
   <title>Juguetería Cósmica</title>
</head>
<body>
   <header class="main-header">
      <div class="main-header__logo-container">
         <img class="main-header__logo-container__img-logo" src="img/logo-jugueteria.png" alt="logo jugueteria cosmica">
      </div>
      <div class="main-header__search-form-container">
         <div class="main-header__search-form-container__input-container">
            <input class="main-header__search-form-container__input-container__input-search" type="search" name="search" placeholder="search">
            <i class="fa-solid fa-magnifying-glass main-header__search-form-container__input-container__submit"></i>
         </div>
         

      </div>
      {{!-- <div class="main-header__cart-button-container">
         <i class="fa-solid fa-cart-shopping main-header__cart-button-container__cart-icon"></i>
      </div> --}}
      <div id="button-hamburger" class="main-header__hamburger-button-container">
         <label class="hamburger-button" for="main-nav-toggle">
            <span id="br1" class="hamburger-button__top-bread"></span>
            <span id="br2" class="hamburger-button__meat"></span>
            <span id="br3" class="hamburger-button__bottom-bread"></span>
         </label>
      </div>
      <div id="nav" class="main-header__main-nav-container">
         <nav id="nav" class="main-nav">
            <ul class="main-nav__list">
               <li class="main-nav__item">
                  <a href="/home" class="main-nav__link navigation">
                     Inicio
                  </a>
               </li>
               
               <li class="main-nav__item">
                  <a href="/alta" class="main-nav__link navigation">
                     Alta
                  </a>
               </li>
               <li class="main-nav__item">
                  <a href="/contact" class="main-nav__link navigation">
                     Contacto
                  </a>
               </li>
               <li class="main-nav__item">
                  <a href="/about" class="main-nav__link navigation">
                     Nosotros
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </header>

   <div class="modal-kart">
      {{!-- {{> cart}}  --}}
   </div>

   <main id="main-content">
      {{{body}}}
   </main>
   <footer class="main-footer">
      <div class="surcription">
         <p>Se el primero en enterarte de todas las novedades</p>
         <input type="text">
         <button>Suscribete</button>
      </div>
      <div class="main-footer__social-network">
         <p>Siguenos</p>
         <ul>
            <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
         </ul>
      </div>
      <ul class="main-footer__listFooter">
         <li>© Jugueteria Cosmica 2022</li>
         <li><a href="">Nosotros</a></li>
         <li><a href="">Aviso de Privacidad</a></li>
         <li><a href="">Términos y Condiciones</a></li>
         <li><a href="">Politica de Envios y Devoluciones</a></li>
         
      </ul>
      <ul class="main-footer__listCreador">
         <li>by Breyner Ustariz</li>
         <li>Proyecto Integrado de Protalento</li>
         <li>Contacto</li>
      </ul>
   </footer>


   <script src='js/main.js'></script>
   {{!-- <script src='js/cart.js'></script> --}}
</body>
</html>